# =========================
# Ignore everything by default
# =========================
*

# =========================
# Allow source code
# =========================
!src/
!src/**

# =========================
# Git files (must be allowed)
# =========================
!.gitignore

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# OS / misc
# =========================
.DS_Store
Thumbs.db
